---
const { title, description, imageURL, skills, live, repo } = Astro.props;
import { Image } from "astro:assets";
const showButtons = live || repo;
---

<div
  class="flex h-full flex-col rounded-lg bg-gray-950 p-4 shadow-sm outline-1 outline-gray-700"
>
  {
    live ? (
      <a href={live} target="_blank">
        <Image
          src={imageURL}
          alt={title}
          loading="lazy"
          class="mb-2 aspect-[16/9] w-full rounded object-contain object-top md:h-52"
        />
      </a>
    ) : (
      <Image
        src={imageURL}
        alt={title}
        loading="lazy"
        class="mb-2 aspect-[16/9] w-full rounded object-contain object-top md:h-51"
      />
    )
  }

  <h2 class="mt-4 font-sans text-2xl leading-5 font-bold">{title}</h2>
  <p class="mt-2 text-sm text-gray-400">{description}</p>
  

  <div class="mt-auto">
    <div class="mt-2">
    <ul class="flex flex-wrap gap-2">
      {
        skills.map((skill) => (
          <li class="rounded bg-gray-950 px-2 py-1 text-xs text-gray-400 outline-1 outline-gray-700">
            {skill}
          </li>
        ))
      }
    </ul>
  </div>
  {
    showButtons ? (
      <div class="flex items-center gap-2 pt-3">
        {live ? (
          <a
            href={live}
            target="_blank"
            class="flex place-items-center gap-1 rounded bg-white px-2 py-1 text-xs font-bold text-black outline-1 outline-gray-700 transition-colors duration-200 hover:bg-gray-300 focus-visible:outline-indigo-800 active:bg-gray-300"
          >
            View Live
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-3.5 w-3.5 stroke-black"
            >
              <circle cx="12" cy="12" r="10" />
              <line x1="2" y1="12" x2="22" y2="12" />
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z" />
            </svg>
          </a>
        ) : null}
        {repo ? (
          <a
            href={repo}
            target="_blank"
            class="flex place-items-center gap-1 rounded bg-white px-2 py-1 text-xs font-bold text-black outline-1 outline-gray-700 transition-colors duration-200 hover:bg-gray-300 focus-visible:outline-indigo-800 active:bg-gray-300"
          >
            Source
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-3.5 w-3.5 stroke-black"
            >
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
            </svg>
          </a>
        ) : null}
      </div>
    ) : null
  }
  </div>
</div>
